<h2>Create a new team</h2>

<form method="POST" action="/teams">
	<div>
		<label>Team Name:</label>
		<input type="text" name="name" class="form-control" placeholder="What is your team name?">
	</div>
	<div>
		<label>Team Members:</label>
		<input type="text" name="members" class="form-control" placeholder="Who are your team members?">
	</div>
	<input type="submit" value="Register Team" class="btn btn-success">
</form>